absl-py


appnope 
argon2-cffi 
astunparse
async-generator 
attrs 
Babel 
backcall 
backports.functools-lru-cache
backports.tempfile 
backports.weakref
beautifulsoup4 
bleach
Brotli
brotlipy
cachetools
certifi
cffi 
chardet 
click 
cloudpickle

dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dash-table

entrypoints

Flask
Flask-Compress
flatbuffers
future


google-auth
google-auth-oauthlib
google-pasta
grpcio==1.32.0

h5py==2.10.0
idna==2.5
imageio
jedi
Jinja2
joblib
json5
Keras
Keras-Preprocessing


lime
llvmlite
Markdown

matplotlib


numba
numpy==1.19.2
pandas
pyasn1
pyasn1-modules
pycosat
pycparser 
Pygments 
pyOpenSSL 
pyparsing 
pyrsistent 
PySocks 
python-dateutil==2.7.3
pytz
PyWavelets
PyYAML
pyzmq
QtPy
requests-oauthlib
retrying

scikit-image
scikit-learn
scipy
Send2Trash 
shap
six 
slicer
sniffio 
soupsieve 
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
terminado
testpath
threadpoolctl
tifffile
tornado
traitlets
typing-extensions
urllib3
wcwidth
webencodings
Werkzeug
wheel==0.35
widgetsnbextension
wrapt
xmltodict 
zipp 
